:host{

    position: absolute;

    .blcs-palette{
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        z-index: 500;
    }

    .blcs-color{
        flex-grow: 0;
        flex-shrink: 0;
        border: 0px solid white;
        transition: border-width 0.1s ease-in-out;

        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;          

        &:hover{
            border: 3px solid white;
        }
    }

    .blcs-pos-tl{
        transform: translateY(-100%)  translateX(-100%);
    }

    .blcs-pos-tr{
        transform: translateY(-100%);
    }

    .blcs-pos-bl{
        transform: translateX(-100%);
    }

    .blcs-pos-br{
        // default
    }
}